body {
    background-color: lightgreen
}
h1 {
    font-size: 90px
}
p {
    text-align: center; color: red;
}
#para1 {
    text-align: center; color: blue;
}
.center {
    text-align: center; color: green;
}