body {
    background-color: #90ee90;
    font-family: Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 90px;
}
p {
    text-align: left; color: darkred;
}
#para1 {
    text-align: center; color: blue;
}
.center {
    text-align: center; color: green;
}
.about {
    text-align: left; font-size: x-large; color: darkred;
}
.skills {
    font-size: x-large; color: darkred;
}
.projects {
    font-size: x-large; color: darkred;
}
.contact {
    font-size: large; text-align: center; color: black;
}